.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 350px;
  background-color: #FFF;
  border: none;
  transition: 0.75s
}

.cardHeader {
  color: rgba(74, 77, 78, 0.845);
  padding-top: 5px;
  font-size: 18px;
}

.hourly-temp {
  color: rgba(74, 77, 78, 0.845);
}

.Card:hover {
  transform: scale(1.15);
  box-shadow: 6px 0 15px -4px rgba(201, 127, 36, 0.845), -6px 0 8px -4px rgba(201, 127, 36, 0.845);
}

img {
  padding-top: 10px;
  width: 80%;

}

.ten-day-high-low {
  display: flex;
  justify-content: space-around;
}

.cardHigh {
  color: orange;
}

.cardLow {
  color: lightskyblue;
}