.currentWeather {
  width: 100vw;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 150px 10px 200px;
  grid-template-areas: 
                      "a c g"
                      "a d h"
                      "b e j"
                      "i f k";
  color: #c4cfcf;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 75px;
  grid-area: d;
  display: flex;
  justify-content: center;
}

.current-city {
  margin: 0;	
  grid-area: d;
  display: flex;
  justify-content: center;
  line-height: 0;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  font-size: 5rem;
}

.current-day {
  margin: 0;
  grid-area: c;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.current-outside {
  grid-area: a;
}

.current-temp {
  margin-left: 10%;
  display: flex;
  font-size: 5rem;
  line-height: .5;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.current-weather {
  margin-left: 10%;  
  display: flex;
  line-height: 0;
  font-size: 2rem;
}

.current-spread {
  grid-area: h;
  margin-top: 20px;
  font-size: .8rem;
}

.current-summary {
  margin-top: 30px;
  grid-area: g;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}