form {
  display: flex;
  align-items: flex-start;
}

input {
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.search {
  position: absolute;
  margin: 0 auto;
  top: 20px;
  right: 5px;
  width: 600px;
  border: bottom;
}

.search input {
  height: 40px;
  width: 100%;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
}

input[type=submit] {
  width: 350px;  height: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  font-size: 18px;
  font-weight: bold;
  color: rgb(188,200,201);
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}


.location-input {
  font-size: 2rem;
  color: rgb(188,200,201);
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.welcomeSearch {
  top: 62%;
  right: 28%;
}