.ten-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 40%;
  margin: 20px auto;
  background-color: hsla(201, 20%, 50%, 1);
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

.ten-day-high-low {
  display: flex;
}

.ten-day-high-low h3 {
  margin-left: 10px;
}