.ten-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  border-radius: 10px;
}

.ten-day-high-low {
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.ten-day-high-low h3 {
  margin-left: 15px;
}