.welcome {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-image: url('https://wallpapersite.com/images/wallpapers/miui-8-2560x1440-rainy-weather-background-minimal-hd-10471.png');
  background-size: cover;
}

.welcome-header {
  margin: 18%;
  font-size: 4rem;
  font-family: 'Ubuntu', sans-serif;
  color: #09c1a8;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}